  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    padding: 64px;
  }

  body {
    background-color: #121215;
    color: #EAEAEA;
    font-family: 'Roboto', sans-serif;
  }

  .memory {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-decoration: none;
    margin-bottom: 64px;
  }

  .memory small {
    color: #BEBEBF;
    font-size: 12px;
    font-weight: 400;
  }

  .memory h1 {
    font-size: 32px;
    font-weight: 700;
    color: #EAEAEA;
  }

  .memory img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
  }

  .memory p {
    font-size: 18px;
    color: #BEBEBF;
    line-height: 29px;
  }